html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
	color:#000;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of reset css */

body{ 
	background-color:#fff;
	font-family:Microsoft YaHei, SimSun, SimHei;
	color:#444;
	font-size:14px;
	overflow-x:hidden;
}
p{
	color: #444;
	font-family: 'Raleway', sans-serif;
	font-size:17px;
	letter-spacing:1px;
	line-height:35px;
	margin-top:20px;
}
h1{
	color: #444;
  font-family: 'Raleway', sans-serif;
	font-size:25px;
	letter-spacing:1px;	
	font-weight:800;
}
h4 {
	color: #444;
    font-family: 'Raleway', sans-serif;
	font-size:27px;
	letter-spacing:1px;	
}
.line-color {
    width: 80px;
    height: 5px;
    background: #009680;
    margin-top: 5px;
}

/*header*/
.header {
    position: absolute;
    top: 0;
    width: 100%;
}
.main-logo {
    text-align: center;
    padding-top: 25px;
}

/*banner*/
.banner {
	width:100%;
	background-image: url("../img/banner.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 70vh;
	display: flex;
    flex-wrap: nowrap;
    align-content: center;
    background-position: top center;
}
.banner-section {
    width: 1400px;
    margin: 0px auto;
    padding-top: 150px;
    padding-bottom: 150px;
}
.banner h1 {
	font-family: 'Raleway', sans-serif;
	letter-spacing:.5px;
	color:#29474e;
    font-size: 55px;
	margin-top:20px; 
	font-weight:700;
	text-transform:uppercase;
	line-height: 55px;
}


.second-section{
	background:#fff;
	/* background-image: url(../img/bg-overlay.png); */
	background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
}
.second-section h1 strong{
	font-weight: 700;;
}
.second-section h1 {
    font-family: 'Raleway', sans-serif;
    letter-spacing:1px;
    color: #29474e;
    font-size: 55px;
    margin-bottom:14px;
    font-weight: 300;
    line-height: 55px;
    text-transform: uppercase;
}
.row.second-section-content img {
    width: 100%;
}
.second-section-content{
	width:1400px;
	margin:0px auto;
	padding-top:150px;
	padding-bottom:150px;
}
#second-row p{
	margin-top:0px;
	margin-bottom:10px;
}
#second-row h3{
	font-family: 'Raleway', sans-serif;
    letter-spacing: 2.5px;
    color: #444;
    font-size: 20px;
    font-weight:700;
	text-transform: uppercase;
	margin-bottom:10px;
	margin-top: 11px;
}

#third-row {
    text-align: center;
}

.portfolio-section-content{
	width:1400px;
	margin:0px auto;
	padding-top:150px;
	padding-bottom:150px;	
}
.portfolio-section h1{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    color: #29474e;
    font-size: 55px;
    margin-bottom: 0px;
    font-weight: 300;
    line-height: 55px;
    text-transform: uppercase;
}

.portfolio-section h1 strong {
    font-weight: 700;
}
#p-header{
	margin-bottom:20px;
	text-transform:uppercase;
}
span#template {
    margin-right: 20px;
    cursor: pointer;
    font-size: 20px;
	font-family: 'Raleway', sans-serif;

}

span#dev {
    margin-right: 20px;
    cursor: pointer;
    font-size: 20px;
}
span#template:hover {
	color:#29474e;
	font-weight:bold;
}
span#logo:hover {
	color:#29474e;
	font-weight:bold;
}
span#dev:hover {
	color:#29474e;
	font-weight:bold;
}
.dev-section{display:none;}
.dev-section p{
	color:#f16d34;
	margin-bottom:40px;
}
a#see-btn {
    background: #0f2435;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 25px;
    margin-top: 20px;
    position: relative;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
    top: 25px;
}
/*skills section*/
.skill-section h1 strong{
	font-weight: 700;;
}
.skill-section p {
    font-family: 'Raleway', sans-serif;
	color: #fff;
	margin-bottom:80px;
}
.skill-section h1 {
    font-family: 'Raleway', sans-serif;
    letter-spacing:1px;
    color: #fff;
    font-size: 55px;
    margin-bottom:10px;
    font-weight: 300;
    line-height: 55px;
    text-transform: uppercase;
}
.skill-section h3 {
    font-size: 25px;
    color: #fff;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
    letter-spacing:1px;
	font-weight: 300;
}
#fourth-row{
	background-color: #0e2533;
    padding-top: 80px;
    padding-bottom: 80px;
}
.skill-section-content{
	width:1400px;
	margin:0px auto;
	padding-top:50px;
	padding-bottom:50px;	
	text-align: center;	;
}
img#icon {
    width: 150px;
}
/*lightbox*/
a#lg-download {
    display: none;
}
ul#lightgallery1 {
    align-content: center;
    justify-content: center;
}
.lg-backdrop {
    background-color: #000000de;
}
.screen {
  width: 350px;
  height: 350px; /* half image height*/
  position: relative;
  overflow: hidden;
  margin: 20px;
  background: #fff;
  cursor: pointer;
}
.screen img {
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 1s ease-in-out 0.5s;
  width: 100%;
}
.screen:hover img {
  transform: translateY(-70%);
}
.footer{
	text-align:center;
	background-color:#0e2533;
	padding:10px;
}
.footer p{
	font-size:11px;
	color:#fff;
	letter-spacing:2px;
	margin-top:0px;
}

/*media query*/

@media screen and (max-width:1280px){
.second-section-content{
	width:100%;
}
.banner-section {
	width:100%;
}
.portfolio-section-content{
	width:100%;
}
.skill-section-content{
	width:100%;
}
}
@media screen and (max-width:1024px){
.second-section-content{
	width:100%;
}
.banner-section {
	width:100%;
}
.portfolio-section-content{
	width:100%;
}
.skill-section-content{
	width:100%;
}
}
@media screen and (max-width: 991px) {
.main-logo {
    background: #0000007d;
}
.second-section-content{
	width:100%;
}
.banner-section {
	width:100%;
}
.banner {
	min-height: 40vh;
}
.portfolio-section-content{
	width:100%;
}
.skill-section-content{
	width:100%;
}
}
@media screen and (max-width: 768px) {
.main-logo {
    background: #0000007d;
}
.second-section-content{
	width:100%;
	padding: 10px;
}
.banner {
	min-height: 40vh;
}
.banner-section {
	width:100%;
}
.portfolio-section-content{
	width:100%;
}
.skill-section-content{
	width:100%;
}
}

@media screen and (max-width: 680px) {
.main-logo {
    background: #0000007d;
}
.second-section-content{
	width:100%;
}
.banner-section {
	width:100%;
}
.banner {
	min-height: 40vh;
}
.portfolio-section-content{
	width:100%;
}
.skill-section-content{
	width:100%;
}
}

@media screen and (max-width: 480px) {
.main-logo {
    background: #0000007d;
}
.second-section-content{
	width:100%;
}
.banner-section {
	width:100%;
}
.banner {
	min-height: 40vh;
}
.portfolio-section-content{
	width:100%;
}
.skill-section-content{
	width:100%;
}
}

@media screen and (max-width: 450px) {
.main-logo {
    background: #0000007d;
}
.second-section-content{
	width:100%;
}
.banner-section {
	width:100%;
}
.banner {
	min-height: 40vh;
}
.portfolio-section-content{
	width:100%;
}
.skill-section-content{
	width:100%;
}
}
@media screen and (max-width: 414px) {
.main-logo {
    background: #0000007d;
}
.second-section-content{
	width:100%;
}
.banner-section {
	width:100%;
}
.banner {
	min-height: 40vh;
}
.portfolio-section-content{
	width:100%;
}
}
@media screen and (max-width: 375px) {
.main-logo {
    background: #0000007d;
}
.second-section-content{
	width:100%;
}
.banner-section {
	width:100%;
}
.banner {
	min-height: 40vh;
}
.portfolio-section-content{
	width:100%;
}
.skill-section-content{
	width:100%;
}
}
@media screen and (max-width: 360px) {
.main-logo {
    background: #0000007d;
}
.second-section-content{
	width:100%;
}
.banner-section {
	width:100%;
}
.banner {
	min-height: 40vh;
}
.portfolio-section-content{
	width:100%;
}
.skill-section-content{
	width:100%;
}
}

@media screen and (max-width: 320px) {
.main-logo {
    background: #0000007d;
}
.second-section-content{
	width:100%;
}
.banner-section {
	width:100%;
}
.banner {
	min-height: 40vh;
}
.portfolio-section-content{
	width:100%;
}
.skill-section-content{
	width:100%;
}
}
